@function rem($size) {
  $remSize: $size / 16;

  @return #{$remSize}rem;
}

.react-autosuggest__container {
  position: relative;
  margin: 0 auto;
  align-self: center;
  background-color: #004ca4;
  @media screen and (max-width: 768px) {
    margin-top: 60px;
  }
}

.input-wrapper {
  display: flex;
  .react-autosuggest__input {
    margin: auto;
    height: 80px;
    width: 100%;
    
    font-size: 30px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    text-align: center;
    outline: none;
    margin-top: 50px;

    @media screen and (max-width: 768px) {
      
      
    }

    @media screen and (max-width: 425px) {
      height: 38px;
      font-size: 18px;
      margin-top: 0;
    }
  }

  .search-img {
    top: 60px;
    right: 7%;
    position: absolute;
    width: 60px;

    @media screen and (max-width: 1024px) {
      top: 10px;
      right: 0;
      width: 25px;
    }
    @media screen and (max-width: 768px) {
      top: 10px;
      right: 0;
      width: 25px;
    }
    @media screen and (max-width: 425px) {
      top: 20%;
      right: 1%;
    }
  }
}

.input-wrapper .react-autosuggest__input::placeholder {
  font-weight: bold;
  font-size: 34px;
  opacity: 0.5;
  @media screen and (max-width: 1024px) {
    font-size: 30px;
  }
  @media screen and (max-width: 500px) {
    font-size: 20px;
  }
}

.input-wrapper-breeder {
  display: flex;
  width: 100%;
  
  
  .react-autosuggest__input__breeder {
    width: 860px;
    height: 60px;
    font-size: 20px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    text-align: center;
    outline: none;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (max-width: 768px) {
      margin-top: -40px;
    };

    @media screen and (max-width: 425px) {
      height: 44px;
      font-size: 15px;
    }
  }

  .search-img__breeder {
    top: 20px;
    right: 8%;
    position: absolute;

    @media screen and (max-width: 768px) {
      top: -25px;
      right: 5%;      
    }

    @media screen and (max-width: 425px) {
      top: -30px;
      right: 10%;
      width: 25px;
    }
  }
}

.input-wrapper-breeder .react-autosuggest__input__breeder::placeholder {
  font-weight: bold;
  font-size: 25px;
  opacity: 0.5;
  @media screen and (max-width: 1024px) {
    font-size: 22px;
  }
  @media screen and (max-width: 400px) {
    font-size: 20px;
  }
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  width: 100%;
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  z-index: 1;
  // position: absolute;
  // top: 51px;
  width: 100%;
  margin-top: 5px;
  background-color: #ffffff;
  font-size: 16px;
  border-radius: 3px;
  border: solid 1px #979797;
  padding-bottom: 10px;
  // border-bottom-left-radius: 3px;
  // border-bottom-right-radius: 3px;
  // z-index: 2;

  @media screen and (max-width: 768px) {
    position: absolute;
    font-size: 10px;
    z-index: 5;
  }
}

// .react-autosuggest__suggestions-container--open__breeder {
//   display: block;
//   // position: absolute;
//   // top: 51px;
//   width: 100%;
//   margin-top: 10px;
//   border: 1px solid #979797;
//   background-color: #ffffff;
//   font-weight: 300;
//   font-size: 16px;
//   border-radius: 3px;
// }

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  // width: 100%;
  list-style-type: none;
  // background-color: #ffffff
}

.react-autosuggest__suggestion {
  cursor: pointer;
  text-align: left;
  &:focus {
    // background-color: #004ca4;
  }
  &:hover {
    // background-color: #004ca4 !important
  }
}

.react-autosuggest__suggestion--highlighted {
  // background-color: #004ca4;
  &:hover {
    // background-color: #004ca4 !important
  }
}

.no-suggestions {
  display: block;
  // position: absolute;
  // top: 51px;
  width: 100%;
  margin-top: 5px;
  background-color: #ffffff;
  font-size: 16px;
  border-radius: 3px;
  border: solid 1px #979797;
  padding-top: 10px;
  padding-bottom: 10px;
  // border-bottom-left-radius: 3px;
  // border-bottom-right-radius: 3px;
  // z-index: 2;

  @media screen and (max-width: 768px) {
    position: absolute;
    font-size: 10px;
    z-index: 5;
  }
}


